<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nixholas.lynx">

    <!-- To be able to hold the partial wake lock for playback when the screen is off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Used to read the media library -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Used for donations -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Used for restarting -->
    <!--<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />-->
    <!-- Used for Media Controls -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.nixholas.lynx.CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:configChanges1
        http://stackoverflow.com/questions/34455170/actionbaractivity-content-gets-reset-when-orientation-changed-drawerlayout-->
        <activity
            android:name="com.nixholas.lynx.Activities.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <!--<action android:name="android.intent.action.MUSIC_PLAYER" />-->
                <!--<category android:name="android.intent.category.APP_MUSIC" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:mimeType="audio/*" />-->
            </intent-filter>
        </activity>
        <activity android:name="com.nixholas.lynx.Activities.IntroActivity">
        </activity>
        <activity
            android:name="com.nixholas.lynx.Activities.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity android:name="com.nixholas.lynx.Fragments.FragmentItem.AlbumActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity android:name="com.nixholas.lynx.Fragments.MostPlayedActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <receiver android:name="com.nixholas.lynx.Notification.PersistentNotification"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nixholas.lynx.Media.MediaManager"
            android:enabled="true"
            android:process=":materialtunes"
            android:exported="false"/>
    </application>

</manifest>